@tailwind base;
@tailwind components;
@tailwind utilities;

/* Płynne przewijanie */
html {
    scroll-behavior: smooth;
  }
  
  /* Stylizacja paska przewijania */
  ::-webkit-scrollbar {
    width: 10px; /* Szerokość paska przewijania */
  }
  
  ::-webkit-scrollbar-track {
    background: #f5e0c4; /* Kolor tła paska przewijania */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #8B5E3C; /* Kolor uchwytu paska przewijania */
    border-radius: 5px;
    border: 2px solid #f5e0c4; /* Margines wokół uchwytu */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #CDAA7D; /* Kolor uchwytu podczas najechania */
  }
  
